@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sway-primary: #f43f6e;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #1a1a1a;
}

textarea::placeholder {
  color: #cbd5e1;
}

.shadow-sway-200 {
  box-shadow: 0 10px 15px -3px rgba(244, 63, 110, 0.2);
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}